<h1> Books </h1>
<%= button_to 'New Book', books_new_path, method: :get %>

<% @books.each do |book| %>
  <ul>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <li><%= book.description %></li>
    <li><%= book.reading_status %></li>
  <%= button_to 'Modify', modify_books_path(book), method: :get %>
  <%= button_to 'Delete', book, method: :delete %>
  </ul>
<% end %>
