<h1> Books </h1>
<%# button_to 'New Book', books_new_path, method: :get %>
<%= link_to 'New book', books_new_path %>

<% @books.each do |book| %>
  <ul>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <li><%= book.description %></li>
    <li><%= book.reading_status %></li>
    <button>Modify</button>
    <button>Delete</button>
  </ul>
<% end %>
