<%= form_with url: books_path do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Book Title" %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author, placeholder: "Author Name" %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description, placeholder: "Book Description" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>